@font-face {
  font-family: "HellixBold";
  src: local("HellixBold"),
    url("./fonts/Hellix-Bold.ttf") format("truetype");
  font-weight: bold;
  }



.main{
  font-family:"HellixBold";
  background-color: #141414;
  overflow: hidden;
  display: flex;
  justify-content: space-around;
  align-items: start;
  min-height: 100vh;
  font-size: 15px;
}

.add-project{
  background-color: red;
  color: white;
  border-radius: 8px;
  padding: 5px 7px;
  z-index: 99;
  position: absolute;
  right: 2%;
  top: 9%;
  cursor: pointer;
}

.add-project:hover{
  background-color: rgb(176, 4, 4);
}